.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1em;
}
@media only screen and (max-width: 320px) {
  .app {
    font-size: .8em;
  }
}

.background {
  display: none;
}

@media only screen and (min-width: 640px) {
  .background {
    display: block;
    position: fixed;
    z-index: -1;
  }
  .background img {
    max-height: 100%;
    max-width: 100%;
  }
  .readable {
    background-color: rgba(255,255,255, 0.6);
    border-radius: 10px;
  }
  .readable-bordered {
    border-style: solid;
    background-color: rgba(255,255,255, 0.6);
  }
}

.button:hover {
  color: #0033FF;
}

.nav-bar {
  background-color: #282c34;
  min-height: 5vh;
  min-width: 100vw;
  margin-right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  color: white;
}
.nav-links {
  color: white;
  margin: 1vw;
  text-decoration: none;
}
.nav-links:hover {
  color: #D0D0D0;
}
.footer {
  color: white;
}

.restaurant-container {
  border-style: solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
  max-width: 100vw;
  overflow: hidden;
}
@media only screen and (min-width: 640px) {
  .restaurant-container {
    max-width: 380px;
    box-shadow: 8px 8px 6px -6px black;
    background-color: rgba(255,255,255, 0.6);
  }
}
.search-form {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
}
@media only screen and (min-width: 640px) {
  .search-form {
    min-width: 380px;
    max-width: 380px;
    background-color: rgba(255,255,255, 0.6);
    /* background-color: rgba(0,0,0, 0.6); */
    /* color: white; */
    border-radius: 10px;
  }
}
.search-form input, select{
  border: 1px solid green;
  font-size: 1.25em;
  padding: 10px;
  border-radius: 60px;
  color: green;
  margin: 5px;
}
.search-form input[type="submit"] {
  margin: 10px;
  font-size: 1.5em;
  border-radius: 60px;
  font-size: 1.25em;
}
.search-form input[type="submit"]:hover {
  background-color: green;
  color: white;
}
.search-form input:focus, select:focus {
  outline: 0;
  background: 0;
}
.search-form label {
  font-size: 1.25em;
}
.auth-form {
  display: flex;
  flex-direction: column;
  min-width: 50vw;
}

.icon-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
}
