.app {
  text-align: center;
}

.nav-bar {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.nav-links {
  color: white;
  margin: 1vw;
  text-decoration: none;
}
