.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-bar {
  background-color: #282c34;
  min-height: 5vh;
  min-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.nav-links {
  color: white;
  margin: 1vw;
  text-decoration: none;
}
.restaurant-container {
  border-style: solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.search-form {
  display: flex;
  flex-direction: column;
}
.search-form input, select{
  min-width: 400px;
}
